
.card{
    width: 260px;
    height: 320px;
    /* border: 1px solid gray; */
    background-color: rgb(226, 218, 218);
    border-radius: 5px;
}

.info{
    display: flex;
    justify-content: space-between;
}
/* .card-container{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
} */